	<script>
		jQuery(document).ready(function(){
			jQuery("#custom_main_nav").find('li').removeClass('active');
			jQuery("#tab-ic").addClass('active');
		});
	</script>
	<header class="container">
			<div class="topControls">
				<div id="inqC2CImgContainer"></div>
				<div style="position:fixed; left:0px; top:150px;" id="inqC2C3ImgContainer"></div>
				<div class="addthis_toolbox addthis_default_style social"> <a class="addthis_button_google"></a> <a class="addthis_button_facebook"></a> <a class="addthis_button_twitter"></a> <a class="addthis_button_pinterest_share"></a> <a class="addthis_button_email"></a> <a class="addthis_button_linkedin"></a> <a class="addthis_button_compact"></a> <a class="addthis_counter addthis_bubble_style"></a> </div>
			</div>
			
			<div class="intro" id="control_intro">
				<h1>Incredible Control</h1>
				<p>Estimate your usage and costs.</p>
			</div>
		</header>
		
      
	<div id="control"> 
		<div id="panel1" class="panel">
			<div  class="content">
				<div class="container">
					<div class="violator">Add a line for $6.98</div>
					<div class="video_container">
						<div id="video1" class="video">
							<!--<iframe width="230" height="360" src="//www.youtube.com/embed/Ses8Awkx1C0?wmode=transparent&feature=player_embedded&hd=1&rel=0&autohide=1&showinfo=0"  frameborder="0" allowfullscreen></iframe>-->
						</div>
					</div>
					<div class="bigtext"><img src="/custom/_img/custom/text-control.png"/></div>
					
					<div class="content_block_background"></div>
					<div class="content_block">
						
						<h4>
							Peace of Mind
						</h4>
						<p>
							Finally, you are in control. Virgin Mobile's Custom technology enables you to do it all from your phone &#8212; share specific amounts of talk, text and data; set curfews and limits; add additional features to your plan; even block other numbers from calling or texting the lines on your account if you choose. All of us have different needs, but only Custom allows you to truly make it yours.
						</p>
					</div>
					
				</div>
			</div>
		</div>
		<div id="panel2" class="panel">
			<div  class="content ">
				<div class="container">
					<div class="video_container">
						<div id="video2" class="video">
							<!--<iframe width="230" height="360" src="//www.youtube.com/embed/Ses8Awkx1C0?wmode=transparent&feature=player_embedded&hd=1&rel=0&autohide=1&showinfo=0"  frameborder="0" allowfullscreen></iframe>-->
						</div>
					</div>
					<div class="bigtext"><img src="/custom/_img/custom/text-app-control.png"/></div>
					
					<div class="content_block_background"></div>
					<div class="content_block">
						<h4>
							Control other devices
						</h4>
						<p>
							You now have a say over which apps your kids use and when &#8212; right from your phone. Easily grant access to specific features &#8212; you decide which ones they can use, what days and even the times they are allowed. Whether at home, out for the weekend, on vacation, or needing quiet time for study; you're the one who decides when it's time to work and when it's time to play. 
						</p>
					</div>
					
				</div>
			
			  </div>
	       
		</div>
		<div id="panel3" class="panel">
			<div  class="content ">
				<div class="container">
					<div class="content_block_background"></div>
					<div class="video_container">
						<div id="video3" class="video">
							<!--<iframe width="230" height="360" src="//www.youtube.com/embed/Ses8Awkx1C0?wmode=transparent&feature=player_embedded&hd=1&rel=0&autohide=1&showinfo=0"  frameborder="0" allowfullscreen></iframe>-->
						</div>
					</div>
					<div class="bigtext"><img src="/custom/_img/custom/text-curfew.png"/></div>
					<div class="content_block">
						<h4>
							Set Curfews
						</h4>
						<p>
							Set curfews for each phone on your plan, down to the time of day.  Virgin Mobile Custom offers you the control you need to stay connected with your family while ensuring access to only the apps you allow. 
						</p>
					</div>
					
				</div>
			
			  </div>
	       
		</div>
		
		<div class="panel" id="panel4">
			<div  class="content ">
				<div class="container">
					<div class="content_block">
						<h4>
							Nationwide Sprint 4G LTE Network
						</h4>
						<p>
							Get great speeds and coverage from the Sprint network, with 4G LTE in many markets. 
Additional cost for data or voice roaming.

						</p>
						<a ui-sref="custom-coverage-map">// LEARN MORE</a>
					</div>
					
				</div>
			</div>
			
		</div>
  	</div>
  