	<script>
		jQuery(document).ready(function(){
			//positionElements();
			jQuery("#custom_main_nav").find('li').removeClass('active');
			
		});
	</script>
	<!--
	DEV: http://coveragetest.test.sprint.com/mycoverage.jsp?id=VMUCSTM
	PROD: http://coverage.sprint.com/mycoverage.jsp?id=VMUCSTM-->
	
	<div class="container">
		<div style="padding-top:100px">
	<iframe width="960" height="560" frameborder="0" scrolling="no" src="http://coverage.sprint.com/mycoverage.jsp?id=VMU4MMLE&amp;language=EN&amp;chkLTE=N&amp;chk4G=N&amp;chkData=N&amp;chkNatNet=Y&amp;mapzip=07712" id="coverage_tool" style="display: inline;"></iframe>
	</div>
	</div>