	<script>
		jQuery(document).ready(function(){
			jQuery("#custom_main_nav").find('li').removeClass('active');
			jQuery("#tab-sf").addClass('active');
		});
		
	</script>
	<header class="container">
			<div class="topControls">
				<div id="inqC2CImgContainer"></div>
				<div style="position:fixed; left:0px; top:150px;" id="inqC2C3ImgContainer"></div>
				<div class="addthis_toolbox addthis_default_style social"> <a class="addthis_button_google"></a> <a class="addthis_button_facebook"></a> <a class="addthis_button_twitter"></a> <a class="addthis_button_pinterest_share"></a> <a class="addthis_button_email"></a> <a class="addthis_button_linkedin"></a> <a class="addthis_button_compact"></a> <a class="addthis_counter addthis_bubble_style"></a> </div>
			</div>
			
			<div class="intro" id="flexible_intro">
				<h1>Super Flexible</h1>
				<p>Adjust &amp; share with others on the fly.</p>
			</div>
		</header>
		
      
	<div id="flexible"> 
		<div id="panel1" class="panel">
			<div  class="content">
				<div class="container">
					
					<div class="video_container">
						<div id="video1">
							<iframe width="230" height="360" src="//www.youtube.com/embed/Ses8Awkx1C0?wmode=transparent&feature=player_embedded&hd=1&rel=0&autohide=1&showinfo=0"  frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="bigtext"><img src="/custom/_img/custom/text-flexibility.png"/></div>
					
					<div class="content_block_background"></div>
					<div class="content_block">
						
						<h4>
							Adjust and share with others on the fly
						</h4>
						<p>
							At long last a phone plan that's all about you. No one else can tell you how much talk, text and data you really need. Decide for yourself and create a plan that fits your life and your family’s. If you want to make changes later, you can do it right from your phone. There are no penalties or contracts to hold you back.
						</p>
					</div>
					
				</div>
			</div>
		</div>
		
		<div id="panel2" class="panel">
			<div  class="content ">
				<div class="container">
					
					<div class="bigtext"><img src="/custom/_img/custom/text-share.png"/></div>
					
					<div class="content_block_background"></div>
					<div class="content_block">
						<div class="peopleicon"><img src="/custom/_img/custom/flexible-people.png"></div>
							<h4>
							Share it All Instantly
						</h4>
						<p>
							The right fit for you and your loved ones. Virgin Mobile Custom offers never before seen flexibility along with the ability to share specific amounts of talk, text and data with up to 4 other lines on your account. Give each of your family members exactly as much as they need.  Add or remove additional features as you need them.
						</p>
					</div>
					
				</div>
			
			  </div>
	       
		</div>
		<div id="panel3" class="panel">
			<div  class="content ">
				<div class="container">
					<div class="content_block_background"></div>
					<div class="video_container">
						<div id="video3">
							<iframe width="230" height="360" src="//www.youtube.com/embed/Ses8Awkx1C0?wmode=transparent&feature=player_embedded&hd=1&rel=0&autohide=1&showinfo=0"  frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="bigtext"><img src="/custom/_img/custom/text-adjust.png"/></div>
					<div class="content_block">
						<h4>
							Pay what you want
						</h4>
						<p>
							Life is constantly changing. With Virgin Mobile Custom, be ready for whatever comes your family’s way. You can quickly adjust the cost of your monthly bill, add or remove services, and change how much each line can use and when. You can do all of this right from your phone and begin to share instantly.  Complete control is always at your fingertips.
						</p>
					</div>
					
				</div>
			
			  </div>
	       
		</div>
		
		<div class="panel" id="panel4">
			<div  class="content ">
				<div class="container">
					<div class="content_block">
						<h4>
							Nationwide Sprint 4G LTE Network
						</h4>
						<p>
							Get great speeds and coverage from the Sprint network, with 4G LTE in many markets. 
Additional cost for data or voice roaming.

						</p>
						<a ui-sref="custom-coverage-map">// LEARN MORE</a>
					</div>
					
				</div>
			</div>
			
		</div>
    
  	</div>